{% extends "layouts/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
  <h1>{{ title}}</h1>
    <p>
        ...After a seemingly endless sleep, the giant begins to stir...

        Relic Ascent is coming back!!! Shared the creation rights, now development will start among multiple people! We are rewriting the game from the ground up to make it more unique, dynamic, creative, and fun!

        Still the same core game you all love, but improved and re-imagined. New mechanics, new cards, new artwork, and new official events now in digital form on Steam!

        We are in the beginning stages and this all will take time, but we are super excited to start this project up again and get all you relic hunters back in the game!
    </p>
</div>
<br/><br/>
{% endblock %}
